<h2>Welcome <%= current_user.username%></h2>
<p class = "turns">Turns Remaining: 15</p>
<div class= "prices_monitor">
  <table class = "table">
      <thead>
        <th>Terminal</th>
        <th></th>
        <th></th>
      </thead>
    <tbody>
      <tr>
        <th>Commodity</th>
        <th>Price</th>
        <th>Buy</th>
      </tr>
    </tbody>
  </table>
</div>

<div class= "user_panel">
  <table class = "table">
    <thead>
      <tr class = "balance">
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Current Value</th>
        <th>Sell</th>
      </tr>
    </tbody>
  </table>
</div>

<button class= "btn btn-large btn-inverse next_day_btn" style="margin-top:20px">Next Day</button>