<!-- Modal -->
<div id="myModal_signIn" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Sign-In</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>

</div>


<!-- <h4>Goal</h4>
    <p>Your Goal is to make as much money as possible given by buying and selling goods in 15 days. After you are completed buying and selling goods, click "Next Day" to continue.</p> -->